/* COLOURS */

.active {
    background-color: black;
}

body {
/*     background-color: #737373; */
    background-color: #766C8C;
}

.nav {
/*     background-color: #738678; */
    background-color: #8C5060;
}

.card {
/*     background-color: #e0a943; */
    background-color: #B9DA93;
}

.cube, .big-cube {
/*     background-color: #e0a943; */
    background-color: #B9DA93;
    box-shadow: 5px 5px #000000;
}

.us {
/*     background-color: #DDA0DD; */
    background-color: #7BD658;
}

.nav li a:not(.icon) {
    color: white;
}

/* MAIN */

body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

/* NAVBAR */

.nav {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: left;
}

.nav li a:not(.icon) {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    opacity: 1;
    transition: opacity 250ms; 
}

.nav img {
    display: block;
    height: 35px;
    padding: 5px;   
}

.nav li a:hover {
    opacity: 0.5;
    transition: opacity 250ms;
}

/* CARDS */

.container {
    margin: 0px 0 20px 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 20em;
    border-radius: 20px;
    margin: 20px; 
}

.content {
    padding: 0px 10px 10px 10px;
}

.image > a > img, .content > img {
    height: 200px;
    width: 20em;
    border-radius: 20px;
    
    opacity: 1;
    transition: opacity 250ms; 
}

.image > a > img:hover {
    cursor: pointer;
    
    opacity: 0.5;
    transition: opacity 250ms; 
}



/* INPUT */

#number {
    font-size: 48px;
    width: 100%;
    float: left;
    margin: 0px 10px 0px 10px;
}

#unitSelect {
    float: left;
    margin: 0px 10px 0px 0px;
}

.inputContainer {
    display: flex;
    margin-top: 10px;
}

/* CUBES */

.cube {
    width: 20vw;
    height: 10em;
    
    min-width: 20em;
    
    border-radius: 20px;
    margin: 20px; 
    position: relative;
}

.big-cube {
    width: 80vw;
    height: 10em;
    
    min-width: 20em;
    
    border-radius: 20px;
    margin: 20px; 
    position: relative;
}

.number {
    font-size: 48px;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.unit {
    position: absolute;
    color: #404040;
    font-size: 48px;
    bottom: 0;
    padding: 15px;
    line-height: 28px
}

.copy {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cube:hover, .big-cube:hover {
    cursor: pointer;
    opacity: 0.5; 
    transition: opacity 250ms; 
}

.cube:hover .copy, .big-cube:hover .copy {
    visibility: visible; 
}

/* MEDIA */

@media screen and (max-width: 550px) {
    .nav li {
        float: none;
    }
    .nav li img {
        display:inline-block;
    }
    .cube {
        width: 80vw;
    }
}


